/* style.css */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #f0f9ff, #cbebff);
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 40px;
    color: #005f99;
}

h2 {
    margin-left: 20px;
    color: #0077b6;
}

ul {
    list-style: square;
    margin-left: 40px;
    font-size: 18px;
}

li {
    margin-bottom: 8px;
}

li:hover {
    color: #0096c7;
    font-weight: bold;
    cursor: pointer;
}
